.container {
  background: #eee;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.content {
  background: #ddd;
  width: 100px;
}

.if-container .content {
  height: 100px;
}

.each-container .content {
  height: 20px;
}

.plugin {
  float: left;
  margin-left: 10px;
}

.plugin.css .content {
  transition: opacity 500ms ease-in;
  opacity: 1;
}

.plugin.css .content.off-screen {
  opacity: 0;
}

